<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
    <center>
      <div class="copyright">
        &copy; Copyright <strong><span>Saurabh Blogger💻🤓</span></strong>. All Rights Reserved
      </div></center>
    </div>
  </div>
</footer><!-- End Footer -->
<script src="../../public/js/index.js"></script>
<!-- Vendor JS Files -->
<script src="../../public/vendor/aos/aos.js"></script>
<script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../public/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../public/vendor/php-email-form/validate.js"></script>
<script src="../../public/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../public/js/main.js"></script>
</body>

</body>

</html>